<ion-header>
  <ion-navbar>
    <ion-title>layouts</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <button menuClose class="menu-item" ion-item (click)="navEventPage()">
      <ion-icon name="create" item-left></ion-icon>
      Event
    </button>
    <button menuClose class="menu-item" ion-item (click)="navEcommerce()">
      <ion-icon name="pricetags" item-left></ion-icon>
      E-Commerce
    </button>
    <button menuClose class="menu-item" ion-item (click)="navSocialHome()">
      <ion-icon name="share" item-left></ion-icon>
      Social
    </button>
    <button menuClose class="menu-item" ion-item (click)="navList()">
      <ion-icon name="list" item-left></ion-icon>
      List
    </button>
    <button menuClose class="menu-item" ion-item (click)="navNotification()">
      <ion-icon name="notifications" item-left></ion-icon>
      Notification
    </button>
    <button menuClose class="menu-item" ion-item (click)="newsHome()">
      <ion-icon name="list-box" item-left></ion-icon>
      News
    </button>
    <button menuClose class="menu-item" ion-item (click)="navGallary()">
      <ion-icon name="image" item-left></ion-icon>
      Gallery
    </button>
    <button menuClose class="menu-item" ion-item (click)="chart()">
      <ion-icon name="more" item-left></ion-icon>
      Chart
    </button>
    <button menuClose class="menu-item" ion-item (click)="navAbout()">
      <ion-icon name="person" item-left></ion-icon>
      About
    </button>

  </ion-list>
</ion-content>
